
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5;
}

/* SITE HEADER */
.site-header{
    background-color: white;
}

/* SITENAV */
.sitenav-list{
    list-style: none;
}

.sitenav-link{
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
/* MAIN LINK */
.main-link{
    font-style: 13px;
    line-height: 15px;
    background: #FF7500;
    color: white;
    text-decoration: none;
}


/* HERO */
.hero{
    background-color: #252420;
    color: #fff
}

.orange-line{
    width: 80px;
    height: 3px;
    background-color:#FF7500;
}

.hero-content{
    width: 390px;
}

.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


.hero-img{
    width: 510px;
    height: 510px;
}


/* FEATURES */
.feature{
    width: 340px;
    list-style: none;
}

.features-heading{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    font-family: 'Rooboto Condensed', "Roboto", 'Arial', sans-serif;
}

.feature-icon-wrapped{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2)
}

.feature-title{
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Rooboto Condensed', "Roboto", 'Arial', sans-serif;
}

/* PROMO */
.promo{
    background-color: #252420;
    color: #fff;
}

.promo-content{
    width: 440px;
}

.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Rooboto Condensed', "Roboto", 'Arial', sans-serif;

}

.promo-highlight{
    color: #FF7500;
}

.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* SITE FOOTER */
.site-footer{
    background-color: #f8f8f8;
}
.site-footer ul{
    list-style: none;
}

.site-footer-devider{
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5)
}
.site-footer-links{
    width: 224px;
    line-height: 19px;
}

.site-footer-links a{
    text-decoration: none;
    color: #252420;
}