* {
    box-sizing: border-box;
}

*:focus{
    outline: 2px dotted #FF7500;
    offset: 3px;
}

body{
    font-family: 'Roboto', 'Arial' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

hr{
    border: 0;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site__header{
    border-top: 5px solid #FF7500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
}
.site__header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    transition: opacity 0.4s ease ;
}

.logo img{
    display: block;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}


.wrapped__nav{
    display: flex;
    align-items: center;
}

.sitenav__list{
    padding: 0;
    margin: 0;
    margin-right: 32px;
    list-style: none;
    display: flex;
}

.sitenav__item{
    margin-right: 32px;
}
.sitenav__item:last-child{
    margin-right: 0;
}
.nav__link{
    font-style: 13px;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #252420;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.nav__link:hover{
    color: #FF7500;
}

.nav__link:active{
    opacity: 0.6;
}

.btn__link {
    display: inline-block;
    background-color: #FF7500;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    transition: opacity 0.4s ease;
}

.btn__link:hover{
    opacity: 0.8;
}

.btn__link:active{
    opacity: 0.6;
}
.hero__section{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #252420;
    color: #FFFFFF;
}
.hero_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__content{
    width: 390px;
}

.short__line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    margin: 0;
    margin-bottom: 40px;
}

.hero__heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.hero__paragraph{
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}


/* FEATURES SECTION */

.features{
    padding-top: 210px;
    padding-bottom: 210px;
}


.features__heading{
    width: 430px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 72px;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.features__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.features__item{
    width: 340px;
    margin-right: 40px;
}
.features__item:last-child{
    margin-right: 0;
}

.feature__icon__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
}

.features__title{
    margin-top: 0;
    margin-bottom: 12px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif ;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.features__info{
    margin: 0;
}

/* Discount section */

.discount__section{
    padding-top: 120px;
    padding-bottom: 160px;
}
.discount__inner{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
    border-radius: 12px;
    background-color: #252420;
}

.discount__content{
    width: 440px;
}

.discount__subject{
    margin-bottom: 24px;
    margin-top: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.promo__info__wrapper{
    margin-bottom: 24px;
}

.discount__paragraph{
    margin-top: 0;
    margin-bottom: 12px;
}
.discount__paragraph:last-child{
    margin-bottom: 0;
}

.discount__highlight{
    color: #FF7500;
}

.discount__img{
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}


/* FOOTER SECTION */

.footer__section{
    padding-top: 56px;
    padding-bottom: 56px;
    background: #F8F8F8;
}

.site__footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__section ul{
    list-style: none;
}

.footer__socials {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.footer__socials li{
    margin-right: 16px;
}

.footer__socials li:last-child{
    margin-right: 0;
}

.footer__socials a{
    display: block;
    color: #252420;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.footer__socials a:hover{
    color: #FF7500;
}

.footer__socials a:active{
    opacity: 0.6;
}

.footer__socials svg{
    display: block;
}

.site__footer__devider{
    background: rgba(37, 36, 32, 0.5);
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
}

.footer__links{
    padding: 0;
    margin: 0;
    margin-right: 68px;
    width: 224px;
    line-height: 19px;
    list-style: none;
}
.footer__links:last-child{
    margin-right: 0;
}

.footer__links li{
    margin-bottom: 16px;
}
.footer__links li:last-child{
    margin-bottom: 0;
}
.footer__links a{
    font-weight: 400;
    color: #252420;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.footer__links a:hover{
    color: #FF7500;
}

.footer__links a:active{
    opacity: 0.6;

}
