
*:focus{
    outline: 2px dotted #FF7500;
    offset: 3px;
}

body{
    font-family: 'Roboto', 'Arial' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

a{
    text-decoration: none;
}

hr{
    border: 0;
}

.logo{
    transition: opacity 0.4s ease ;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}

.site__header{
    border-top: 5px solid #FF7500;
    background: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 170px;
}

.wrapped__nav{
    display: flex;
    align-items: center;
}

.sitenav__list{
    padding: 0;
    list-style: none;
    display: flex;
}
.nav__link{
    font-style: 13px;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #252420;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.nav__link:hover{
    color: #FF7500;
}

.nav__link:active{
    opacity: 0.6;
}

.btn__link {
    display: inline-block;
    background-color: #FF7500;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    transition: opacity 0.4s ease;
}

.btn__link:hover{
    opacity: 0.8;
}

.btn__link:active{
    opacity: 0.6;
}
.hero__section{
    background: #252420;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero__content{
    width: 390px;
}


.short__line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

.hero__heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.hero__img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
}


/* FEATURES SECTION */

.features{
    padding-top: 210px;
    padding-bottom: 210px;
}

.features__heading{
    width: 430px;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.features__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.fearures__item{
    width: 340px;
}


.feature__icon__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
}

.features__title{
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif ;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

/* Discount section */

.discount__section{
    border-radius: 12px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: space-evenly;
    background: #252420;
    color: #FFF;
}

.discount__content{
    width: 440px;
}

.discount__subject{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.discount__highlight{
    color: #FF7500;
}

.discount__img{
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}


/* FOOTER SECTION */

.footer__section{
    padding-top: 56px;
    padding-bottom: 56px;
    background: #F8F8F8;
}

.site__footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__section ul{
    list-style: none;
}

.footer__socials {
    padding: 0;
    display: flex;
    align-items: center;
}

.footer__socials a{
    color: #252420;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.footer__socials a:hover{
    color: #FF7500;
}

.footer__socials a:active{
    opacity: 0.6;
}

.site__footer__devider{
    background: rgba(37, 36, 32, 0.5);
    height: 2px;
    border: 0;
}

.footer__bottom{
    display: flex;
    justify-content: space-evenly;
}

.footer__links{
    padding: 0;
    width: 224px;
    line-height: 19px;

}

.footer__links a{
    font-weight: 400;
    color: #252420;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.footer__links a:hover{
    color: #FF7500;
}

.footer__links a:active{
    opacity: 0.6;

}
