body{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', 'Arial', sans-serif;
    letter-spacing: 0.5;
}

/* SITE HEADER */
.site-header{
    background-color: #fff;
}


/* SITENAV */
.sitenav{
    width: 610px;
}

.sitenav-list{
    list-style-type: none;
}

.sitenav-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/* ORANGE BTN */
.orange-btn{
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    background-color:  #FF7500;
    color: white;
    text-decoration: none;
}



/* HERO */
.hero{
    background-color: #252420;
    color: white;
}


/* ORANGE LINE */
.orange-line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}

.hero-content{
    width: 387px;
}


.hero-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Robot Condenced', 'Arial', sans-serif;
}



.hero-img{
    width: 510px;
    height: 510px;
}



/* FEATURES */
.feature{
    width: 340px;
    list-style: none;
}

.features-heading{
    width: 440px;
    font-size: 72px;
    font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
    line-height: 1.2;
}


.feature-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}


.features-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
}



/* PROMO SECTION */
.promo{
    background-color: #252420;
}

.promo-content{
    width: 440px;
    color: #FFFFFF;
}

.promo-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
} 



.promo-orange{
    color: #FF7500;
}

.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}




/* SITE FOOTER */
.site-footer{
    background-color: #f8f8f8;
}

/* SOCIAL */
.footer-social-list{
    list-style: none;
}

.site-footer ul{
    list-style: none;
}

.site-footer-devider{
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

/* LINKS */
.site-footer-links{
    width: 224px;
    line-height: 19px;
}

.site-footer-links a{
    text-decoration: none;
    color: #252420;
}

